---
const { variant, size } = Astro.props;
---

<a data-variant={variant} data-size={size}>
  <slot />
</a>

<style>
  a {
    display: inline-flex;
    padding: 9.073px 22.683px;
    justify-content: center;
    align-items: center;
    gap: 6.049px;
    border-radius: 18.146px;
    background: #000;
    color: #fff;
  }

  [data-variant="primary"] {
    background: red;
  }
  [data-size="sm"] {
    font-size: 1rem;
  }
  [data-size="Back"] {
    font-size: 1rem;
    padding: 2rem;
    margin-top: 70px;
  }
</style>
