---
const { variant } = Astro.props;
---

<a class={variant}>
  <slot />
</a>

<style>
  a {
    display: inline-flex;
    padding: 9.073px 22.683px;
    justify-content: center;
    align-items: center;
    gap: 6.049px;
    border-radius: 18.146px;
    background: #000;
  }
</style>
