---
---


  <footer>
    <div class="info_links">
    <p> OM OS </p>
    <a href=""> Om Distortion</a>
     <a href=""> Samarbejdspartnere</a>
      <a href=""> Praktisk information</a>
      </div>

       <div class="info_links">
    <p> DISTORTION GRUPPE </p>
    <a href="">  Distortion gruppe</a>
     <a href=""> Persondata politik</a>
     
      </div>

     <div class="info_links">
    <p> KONTAKT OS </p>
    <a href=""> Distortion@mail.com</a>
     <a href=""> Østerbro/Vesterbro/Nørrebro</a>
      <a href="">Presse</a>
           <a href=""> job & Praktik</a>
      </div>

      <div class="svg_images">
        <img src="instagram.svg" alt="">
        <img src="youtube.svg" alt="">
          <img src="spotify.svg" alt="">
      </div>

      <p>© 2024 DISTORSION. Alle rettigheder forbeholdes.</p>
   
    </footer>  

    <style>
        footer{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        
        .info_links{
            display: flex;
            flex-direction: column;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .info_links a{
            color: #000;
            text-decoration: none;
        }
        
        img{
            height: 25px;
            width: 20px;
            padding top: 2rem;
            display:inline;
        }

.svg_images{
    padding-top: 2rem;
}
        p{
           display: flex;
            flex-direction: column;
            color: #000;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal; 
        }
@media (min-width: 768px) {
    footer {
      flex-direction: row;
    }

    .info_links {
      font-size: 16px;
    }

    .info_links p {
      font-size: 18px;
    }

    .svg_images img {
      height: 35px;
      width: 35px;
    }
  }
    </style>