---
---


  <footer>
    <div class="info_links">
    <p> OM OS </p>
    <a href=""> Om Distortion</a>
     <a href=""> Om Distortion</a>
      <a href=""> Om Distortion</a>
      </div>

       <div class="info_links">
    <p> DISTORTION GRUPPE </p>
    <a href=""> Om Distortion</a>
     <a href=""> Om Distortion</a>
     
      </div>

     <div class="info_links">
    <p> OM OS </p>
    <a href=""> Om Distortion</a>
     <a href=""> Om Distortion</a>
      <a href=""> Om Distortion</a>
           <a href=""> Om Distortion</a>
      </div>

      <div>
        <img src="instagram.svg" alt="">
        <img src="youtube.svg" alt="">
          <img src="spotify.svg" alt="">
      </div>

      <p>© 2024 DISTORSION. Alle rettigheder forbeholdes.</p>
   
    </footer>  

    <style>
        footer{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        
        .info_links{
            display: flex;
            flex-direction: column;
        }
        
        img{
            height: 25px;
        }
    </style>